<section class="todoapp">
  <header class="header">
    <h1>Signup!</h1>
    <%= form_for @user do |f| %>
      <%= f.email_field :email, class: "new-todo", placeholder: "Register with your email!" %>
    <% end %>
  </header>
  
  <footer class="footer">
  </footer>
</section>