<footer class="info">
  <p>This version created by <a href="https://github.com/morinoko">Felice Forby</a></p>
  <p>Originally created by <a href="http://twitter.com/oscargodson">Oscar Godson</a> and refactored by <a href="https://github.com/cburgmer">Christoph Burgmer</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>